<nav>
  <a href="{{ '/' | relative_url }}" class="nav-name">Saanvi S. Subramanian</a>
  <ul class="nav-links">
    <li><a href="{{ '/pages/research/' | relative_url }}">Research &amp; Projects</a></li>
    <li><a href="{{ '/pages/about/' | relative_url }}">About Me</a></li>
    <li><a href="{{ '/pages/thinking/' | relative_url }}">Blog</a></li>
    <li><a href="{{ '/pages/portfolio/' | relative_url }}">Portfolio</a></li>
    <li><a href="{{ '/pages/misc/' | relative_url }}">Misc.</a></li>
  </ul>
</nav>
